# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [14]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", delimiter="\t")

In [15]:
chipo["item_price"] = chipo["item_price"].str.slice(1).astype(np.float)
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

### Step 4. How many products cost more than $10.00?

In [70]:
chipo_filtered = chipo.drop_duplicates(['item_name', 'quantity', 'choice_description'])

#chipo_one = chipo_filtered[chipo_filtered["quantity"] == 1]
chipo_filtered["price_per_item"] = chipo_filtered["item_price"] / chipo_filtered["quantity"]
price_per_item_more_than_10 = chipo_filtered["price_per_item"] > 10
#chipo_filtered[chipo_filtered["price_per_item"] > 10]["item_name"].unique()
chipo_10 = chipo_filtered[price_per_item_more_than_10].sort_values(by="price_per_item", ascending=False)

chipo_10["item_name"].nunique()

C:\Users\michal\Anaconda3\envs\ML-37\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [79]:
chipo_filtered[["item_name", "price_per_item"]].drop_duplicates("item_name").sort_values(by="price_per_item", ascending=False)
#chipo_filtered[["item_name", "item_price"]].drop_duplicates("item_name").sort_values(by="item_price", ascending=False)

                                  item_name  price_per_item
281                        Steak Salad Bowl           11.89
1229                    Barbacoa Salad Bowl           11.89
1132                    Carnitas Salad Bowl           11.89
7                             Steak Burrito           11.75
39                            Barbacoa Bowl           11.75
168                   Barbacoa Crispy Tacos           11.75
186                       Veggie Salad Bowl           11.25
738                       Veggie Soft Tacos           11.25
57                           Veggie Burrito           11.25
62                              Veggie Bowl           11.25
250                           Chicken Salad           10.98
56                      Barbacoa Soft Tacos            9.25
92                       Steak Crispy Tacos            9.25
237                     Carnitas Soft Tacos            9.25
554                   Carnitas Crispy Tacos            9.25
8                          Steak Soft Tacos            9.25
664                             Steak Salad            8.99
54                               Steak Bowl            8.99
3750                         Carnitas Salad            8.99
21                         Barbacoa Burrito            8.99
33                            Carnitas Bowl            8.99
27                         Carnitas Burrito            8.99
11                     Chicken Crispy Tacos            8.75
44                       Chicken Salad Bowl            8.75
12                       Chicken Soft Tacos            8.75
16                          Chicken Burrito            8.49
1653                    Veggie Crispy Tacos            8.49
4                              Chicken Bowl            8.49
1694                           Veggie Salad            8.49
1414                                  Salad            7.40
510                                 Burrito            7.40
520                            Crispy Tacos            7.40
445                                    Bowl            7.40
298                       6 Pack Soft Drink            6.49
10                      Chips and Guacamole            4.45
1                                      Izze            3.39
2                          Nantucket Nectar            3.39
674       Chips and Mild Fresh Tomato Salsa            3.00
111     Chips and Tomatillo Red Chili Salsa            2.95
38    Chips and Tomatillo Green Chili Salsa            2.95
233      Chips and Roasted Chili Corn Salsa            2.95
3     Chips and Tomatillo-Green Chili Salsa            2.39
0              Chips and Fresh Tomato Salsa            2.39
300     Chips and Tomatillo-Red Chili Salsa            2.39
191      Chips and Roasted Chili-Corn Salsa            2.39
40                                    Chips            2.15
6                             Side of Chips            1.69
263                       Canned Soft Drink            1.25
18                              Canned Soda            1.09
34                            Bottled Water            1.09

### Step 6. Sort by the name of the item

In [80]:
chipo_filtered.sort_values(by="item_name")

,order_id,quantity,item_name,choice_description,item_price,price_per_item
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
721,298,1,6 Pack Soft Drink,[Nestea],6.49,6.49
357,154,1,6 Pack Soft Drink,[Coke],6.49,6.49
3141,1253,1,6 Pack Soft Drink,[Lemonade],6.49,6.49
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
...,...,...,...,...,...,...
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",16.98,8.49
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [83]:
max_price_index = chipo_filtered["item_price"].argmax()

chipo_filtered.iloc[max_price_index]

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                   44.25
price_per_item                                2.95
Name: 3598, dtype: object

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [87]:
chipo_filtered[chipo_filtered["item_name"] == "Veggie Salad Bowl"].count()

order_id              16
quantity              16
item_name             16
choice_description    16
item_price            16
price_per_item        16
dtype: int64

### Step 9. How many times did someone order more than one Canned Soda?

In [94]:
more_than_one_canned_soda = (chipo_filtered["item_name"] == "Canned Soda") & (chipo_filtered["quantity"] > 1)
len(chipo_filtered[more_than_one_canned_soda])

7